<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>My Academics</h1>
        </div>
        <div class="resume-line row">

            <div class="col-md-4 col-sm-4 col-xs-12 resume-left">
                <h3>University Of Cincinnati, Cincinnati, OH, USA</h3>
                <p>August 2015 - December 2016</p>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Master's in Computer Science(Data Science Specialization)</h3>
                <!--<h4>GPA : 3.7/4 </h4>-->
                <p>Relevant Coursework: Application Engineering Development, Web Design</p>
                <p>Cloud Computing, Big Data, Algorithms and Data Structures, Database Design and Management </p>
            </div>

        </div>
        <div class="resume-line row">

            <div class="col-md-4 col-sm-4 col-xs-12 resume-left">
                <h3>Osmania University, India </h3>
                <p>August 2009 - May 2013</p>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 resume-right">
                <h3>Bachelor's in Information Technology</h3>
                <!--<h4>GPA : 3.8/4 </h4>-->
                <p>Relevant Coursework: C, C++, Java, DataStructures and Algorithms</p>
                <p>Mathematics, Database Management Systems</p>
            </div>

        </div>




    </div>


</section>
