<section id="sectionPortfolio">

    <div class="container">

        <div class="sectionTitle">
            <h1>My Past experience</h1>
            <span>Resume</span>
        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Church Mutual Insurance Company</h3>
                <p>Jan 2017 - Present</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Software Engineer </h3>
                <p>Received certificate of appreciation, for proposing and implementing a business
                    solution for the application which helped in delivering the quality product earlier than the schedule which inturn saved the money for the company.</p>
                 <p>Involved in business meetings with the product owner and stake holders to understand business requirements and provided inputs and suggestions.</p>   
                <p>Developed Broker Commission application using Agile methodology. Technologies used are Spring Boot, Java8, Hibernate, Restful API's, Bootstrap,,JavaScript HTML 5,CSS 3 etc..</p>
              
            </div>

        </div>


<div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Fifth Third Bank</h3>
                <p>May 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>SoftWare Engineer Intern</h3>
                <p>Developed various portals of the Teller Management application using Java, Spring MVC and Restful services.</p>
                <p>Analysed and developed various reports using Tableau which hel[ped the business people and higher officials in taking the complex business decisions.</p>
                <p>Received Rockstar award for the quarter from the business unit for my contributions to the team and company.</p>
            </div>
        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Oracle Corporation</h3>
                <p>Jun 2013 - Jul 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Software Engineer </h3>
                <p> At Oracle as a part of management strategy, i got an opportunity to work with various teams in various roles which helped me in gaining knowledge of an IT industry and improving my skills. </p>
                <p> I have worked as a developer, Product support analyst and SQL Developer. This helped me understanding SDLC life cycle.</p>
                <p>As a part of product developement team developed an enterprise application, gave product support by interacting with customers directly as required and developed customized scripts in SQL, to perform specific functionalities by coordinating with Cloud Operations team, resulted in less turnaround time by increasing team efficiency.</p>
                </div>

        </div>


        
    </div>

</section>
