<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>My Projects</h1>
        </div>
        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Shop Snap</h3>
                <p>Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Hackathon, Ohio University</h3>
                <p> Developed responsive web application which helps the user to search for any product on amazon just by clicking an image of it. </p>
                <p>	 This aplication is very much helpful when you go to new places or you dont have any idea about a product. All you need to do is open the application and click an image of it ans the results wil be displayed from amazon. Used google image search API and amazon product search API for this application.</p>
                <!-- <p> Implemented all aspects and best design principles of User Experience</p> -->
               <!--  <p><button class="button button2 " onclick=" window.open('http://1mh48x.axshare.com/#g=1&p=home','_blank')">Web   Application</button>

                    <button class="button button2" onclick=" window.open('http://l2cg95.axshare.com/#g=1&p=home','_blank')">Mobile Application</button></p> -->
            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Restaurant application</h3>
                <p>jan 2016-May 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>University Of Cincinnati</h3>
                <p> A responsive restaurant website using angular js and bootstarp.</p>
                
            </div>

        </div>


</div>

<div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Data Visualisation using Tableau</h3>
                <p>jan 2016-May 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>University Of Cincinnati</h3>
                <p> Analyzed the impact of social media on the donations recieved by the Hire Heroes USA and submitted the results to Tera Data University.</p>
                
            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Sentimenatal analysis Of Twittter and facebook data</h3>
                <p>jan 2016-May 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>University Of Cincinnati</h3>
                <p> Performed sentimental analysis of about 1 Tb of Twitter data to provide statistical analysis.</p>
                
            </div>

        </div>

<div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Application development using AWS, Google App Engine and docker</h3>
                <p>jan 2016-May 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>University Of Cincinnati</h3>
                <p> Developed Image Flip appplication using PHP, Algorithm Scheduling using Java, Caluclator and unit conversion using java and deployed them to AS and google app engine using docker containers..</p>
                
            </div>

        </div>

        <!-- <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Job Portal</h3>
                <p>Oct 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed responsive web application to allow users to apply for the jobs. </p>
                <p>Implemented project using AngularJS, Spring MVC and Hibernate</p>
            </div>

        </div>
 -->

        <!-- <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Social Network</h3>
                <p>Sept 2015 - Oct 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed a responsive social networking website using Bootstrap Framework
                </p>
                <p> Enhanced the website using HTML 5, CSS , JavaScript, JQuery and AJAX and designed the application using rich user interface controls by minimizing the number of clicks.
                </p>
            </div>
        </div> -->


        <!-- <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>IoT Based Smart Grid</h3>
                <p>Sept 2015 - Nov 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed an application using core java and Swing components, based on Singleton Ecosystem model.</p>
                <p>Implemented Data Analytics dash board, at all hierarchy levels to analyze energy efficiency.</p>
                <p>This project was aimed to develop a dynamic application, which would help in attaining efficient power management (Electricity) in smart cities.

                    By implementing this model (Holonic Architecture) in Smart Cities, we can efficiently handle electricity power distribution and the loss of power, and minimize the dependency of Non-renewable resources and finally achieve “Go Green” power generation and distribution.
                </p>
            </div>
        </div> -->

    </div>


</section>
